body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d1ec04, #6207f5ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: rgb(122, 172, 185);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 50px 20px rgba(0, 0, 0, 0.3);
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #d20d0d;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a5298;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3c72;
}

#result {
    margin-top: 15px;
}
